/* @font-face {
  font-family: "Kiona";
  src: url("../images/Kiona-Regular.ttf") format("truetype");
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "KIONA";
  src: url("../fonts/Kiona-Regular.ttf");
}

@font-face {
  font-family: "NUNITO";
  src: url("../fonts/NunitoSans_10pt-Light.ttf");
}
@font-face {
  font-family: "NUNITO-REG";
  src: url("../fonts/NunitoSans_7pt-Regular.ttf");
}
@font-face {
  font-family: "NUNITO-LIGHT";
  src: url("../fonts/Nunito-VariableFont_wght.ttf");
}

@font-face {
  font-family: "NUNITOBOLD";
  src: url("../fonts/NunitoSans_10pt_Condensed-Bold.ttf");
}

@font-face {
  font-family: "COOLVETICA";
  src: url("../fonts/coolvetica-condensed.ttf");
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.yellow-gradient {
  background-image: linear-gradient(to bottom, #faebbe, #fecb66);
}

.orange-gradient {
  background-image: linear-gradient(to bottom, #f79838, #fecb66);
}

#triangle {
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
}

.blue2-gradient {
  background-image: linear-gradient(to bottom, #d5e1f3, #94bbe3);
}

.true-blue-gradient {
  background-image: linear-gradient(to bottom, #4279bc, #94bbe3);
}

/* .blue-gradient {
  background-image: linear-gradient(to right, #4E78C8, #E3B54C);

} */

.crazy-gradient {
  background-image: linear-gradient(
    to right,
    #6180b8,
    #4e78c8,
    #9a9789,
    #bba56d,
    #e3b54c
  );
}
.button-blue {
  color: #4279bc;
}

#triangle {
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
}

#pentagon {
 clip-path: polygon(0 0, 50% 11%, 100% 0, 100% 89%, 50% 100%, 0 89%);
}

#pentagon2 {
        clip-path: polygon(0 0, 50% 12%, 100% 0, 100% 100%, 50% 100%, 0 100%);
}
       
#pentagon3 {
        clip-path: polygon(0 0, 0 88%, 50% 100%, 100% 88%, 100% 0%);
}

.button-blue {
  color: #4279bc;
}

.blue {
  background-color: #4279bc;
}

.blue-border {
  border-color: #94bbe3;
}

.pale-yellow {
  background-color: #faebbe;
}
.pale-yellow-border {
  border-color: #faebbe;
}

.mellow-yellow {
  background-color: #fecb66;
}
.contact-input {
  width: 300px;
}
.contact-input-height {
  height: 130px;
}

.mellow-yellow-border {
  border-color: #fecb66;
}

.orange {
  background-color: #f79838;
}

.orange-border {
  border-color: #f79838;
}

.carousel {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.carousel-item {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 100%;
}

<<<<<<< HEAD
.link:hover {
  text-decoration: underline;
}


.default-logo {
        display: block;
      }
      
      .toggle-logo {
        display: none;
      }
      
      @media (max-width: 768px) {
        .default-logo {
          display: none;
        }
        .toggle-logo {
          display: block;
        }
      }
      
      @media (max-width: 768px) { /* Adjust this for your mobile breakpoint */
        .nav-links {
          display: flex; /* Show nav links for mobile */
        }
      }
      
      .menu-open { /* New CSS for moving menu items below */
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 10;
        padding: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
=======
>>>>>>> e44888bc66e2ea848bd0eaf7e3376e8ebf76028c
