@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.navbar {
  color:aliceblue;
  background: rgb(192, 42, 42);
  font-family: Garamond, serif;
  font-size: large;
  padding: 8px;
  text-align: center;
  width:100%;
  padding-left: 5%;
  padding-right: 5%;
  
  position: fixed;
  display: inline-block;
  justify-content: center;
}

/* ul.navbar li {
  position: fixed;
  background-color: dodgerblue;
} */

#resetSpace {
  padding-top: 50px;
}
