/* @font-face {
  font-family: "Kiona";
  src: url("../images/Kiona-Regular.ttf") format("truetype");
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "KIONA";
  src: url("../fonts/Kiona-Regular.ttf");
}

@font-face {
  font-family: "NUNITO";
  src: url("../fonts/NunitoSans_10pt-Light.ttf");
}
@font-face {
  font-family: "NUNITO-REG";
  src: url("../fonts/NunitoSans_7pt-Regular.ttf");
}
@font-face {
  font-family: "NUNITO-LIGHT";
  src: url("../fonts/Nunito-VariableFont_wght.ttf");
}

@font-face {
  font-family: "NUNITOBOLD";
  src: url("../fonts/NunitoSans_10pt_Condensed-Bold.ttf");
}

@font-face {
  font-family: "COOLVETICA";
  src: url("../fonts/coolvetica-condensed.ttf");
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.yellow-gradient {
  background-image: linear-gradient(to bottom, #FAEBBE, #FECB66);
}

.orange-gradient {
  background-image: linear-gradient(to bottom, #F79838, #FECb66);
}

#triangle {
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
}

.blue2-gradient {
  background-image: linear-gradient(to bottom, #D5E1F3, #94BBE3);
}

.true-blue-gradient {
  background-image: linear-gradient(to bottom, #4279BC, #94BBE3);
}

/* .blue-gradient {
  background-image: linear-gradient(to right, #4E78C8, #E3B54C);

} */

.crazy-gradient {
  background-image: linear-gradient(to right, #6180B8, #4E78C8, #9A9789, #BBA56D, #E3B54C);

}
.button-blue {
  color: #4279BC; 
}

#triangle {
clip-path: polygon(50% 100%,0% 0%,100% 0%);
}

.button-blue {
  color: #4279BC; 
}

.blue {
  background-color: #4279BC; 
}

.blue-border {
  border-color: #94BBE3; 
}

.pale-yellow {
  background-color: #FAEBBE;
}
.pale-yellow-border {
  border-color: #FAEBBE;
}

.mellow-yellow {
  background-color: #FECb66;
}
.contact-input{
width: 300px;
}
.contact-input-height{
  height:130px;
}

.mellow-yellow-border {
  border-color: #FECb66;
}

.orange {
  background-color: #F79838;
}

.orange-border {
  border-color: #F79838;
}

.carousel {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.carousel-item {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 100%;
}

